.section-tag {
  display: inline-flex;
  align-items: center;
  height: 27px;
  padding: 0 16px;
  border-radius: 10px;
  background-color: #6cd59b;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
